<div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
        <button class="btn btn-light" (click)="goBack()" style="float: right">
            <fa-icon [icon]="faBack"></fa-icon>
            Back
        </button>
    </div>
</div>
<!-- <div class="row" *ngIf="successMsg || errorMsg">

    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="text-align: center; font-family: monospace; font-weight: bold">
        <div class="alert alert-success fade show" *ngIf="successMsg" style="padding: 5px; font-size: 12px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <fa-icon [icon]="faClose" aria-hidden="true" [styles]="{'stroke': '#155724', 'color': '#155724'}">
                </fa-icon>
            </button>
            {{successMsg}}</div>
        <div class="alert alert-danger fade show" *ngIf="errorMsg" style="padding: 5px; font-size: 12px;">
            {{errorMsg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <fa-icon [icon]="faClose" aria-hidden="true" [styles]="{'stroke': '#721c24', 'color': '#721c24'}">
                </fa-icon>
            </button>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div> -->
<!-- 
<mat-progress-spinner class="example-margin" style="margin-top: 10px;" [hidden]="!isLoading" [color]="color"
                      [mode]="'indeterminate'"
                      [diameter]="25"></mat-progress-spinner> -->
                      
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <form  [formGroup]="addForm">
            <div class="form-group row" style="margin-bottom: 20px !important;">
                <label class="col-sm-2 col-form-label-sm lbl_left">Currency
                    <span class=required>*</span>
                </label>
                <div class="col-sm-3">
                    <select class="form-control form-control-sm" formControlName="currency"  >
                        <option value="USD">USD</option>
                    </select>
                    <div *ngIf="isSubmitted && f.currency.errors" class="invalid">
                        <label class="errLabel" *ngIf="f.currency.errors.required">Required</label>
                      </div>
                </div>
                <div class="col-sm-7"></div>
            </div>
            <div class="form-group row" style="margin-bottom: 20px !important;">
                <label class="col-sm-2 col-form-label-sm lbl_left">LKR amount
                    <span class=required>*</span>
                </label>
                <div class="col-sm-3">
                    <input type="text" class="form-control form-control-sm" formControlName="lkrAmount"  >
                    <div *ngIf="isSubmitted && f.lkrAmount.errors" class="invalid">
                        <label class="errLabel" *ngIf="f.lkrAmount.errors.required">Required</label>
                      </div>
                </div>
                <div class="col-sm-7"></div>
            </div>
            <div class="form-group row" style="margin-bottom: 20px !important;">
                <label class="col-sm-2 col-form-label-sm lbl_left">Date
                    <span class=required>*</span>
                </label>
                <div class="col-sm-3">
                    <input type="date" class="form-control form-control-sm" formControlName="date"  >
                    <div *ngIf="isSubmitted && f.date.errors" class="invalid">
                        <label class="errLabel" *ngIf="f.date.errors.required">Required</label>
                    </div>
                </div>
                <div class="col-sm-7"></div>
            </div>
            <div class="row" style="margin-bottom: 10px;">&nbsp;</div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-5">
                    <button type="button" class="btn btn-info" (click)="addCurrency()">
                        Submit
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-light" (click)="reset()" style="margin-left: 5px;">
                        <fa-icon [icon]="faReset"></fa-icon>&nbsp;
                        Reset
                    </button>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </form>
    </div>
    <div class="col-sm-1"></div>
</div>